<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <title>Burger App</title>
</head>

<body>
    <div id="logo-container">
        <h2 class="logo" id="bun1">Eat</h2>
        <h2 class="logo" id="patty">- Da -</h2>
        <h2 class="logo" id="bun2">Burger</h2>
    </div>

    <h3>Let's Eat Some Burgers!</h3>
    {{{ body }}}
</body>

</html>